.link {
    text-decoration: none;
    color: #e5e5e1;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    &:hover,
    &.active {
        background-color: #bcbcb7;
        color: #181817;
    }
}
